{% include 'navbar.html' %}

{% block content %}
<style>
body {
	color: white;
}
img {
	float: none;
}
</style>

<body>
<div class="w3-container">
	<div class="panel panel-default" style="text-align: left; width: 97%; margin-left: 20px; background-image: url('https://assets.kpmg.com/is/image/kpmg/blue-strings-banner:cq5dam.web.1400.350')">
		<h1>Welcome</h1>
		<h2>Creator: Chase Dixon</h2>
		<p style="font-size: 20px">Cryptocurrency: (noun) a digital currency in which transactions are verified and records<br> 
		maintained by a decentralized system using cryptography, rather than by a centralized authority.<br>
		The purpose of this site is to give users the latest market info on crytpo coins and exchanges.<br>
		This will allow you to make the best decisions related to crypto.</p>
		<h3>Enjoy!</h3>
	</div>
		<img style="width: 100%" src="https://thumbs.dreamstime.com/b/set-top-cryptocurrency-tokens-logos-crypto-currency-blockchain-assets-logo-isolated-coins-bitcoin-ethereum-dogecoin-tether-228511795.jpg" alt="Various Coin Logos">
</div>
</body>
{% endblock %}
