*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
}

nav{
    display: flex;
    width: 84%;
    right: 20px;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.detel{
    margin-left: 8%;
    margin-top: 13%;
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: #00BFFF;
}

.detel p{
    color: #5A5A5A;
    line-height: 22px;
    font-size: 20px;
}

.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.image1{
    width: 500px;
    height: 600px;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.image2{
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 0;
    right: -100px;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .image1{
    bottom: 40px;
}

.images:hover .image2{
    left: 80%;
}

